<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-scale=1.0, maximal-scale=1.0">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js" integrity="sha384-RuyvpeZCxMJCqVUGFI0Do1mQrods/hhxYlcVfGPOfQtPJh0JCw12tUAZ/Mv10S7D" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="{{ asset('js/script.js') }}" defer></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
            <div class="container-fluid">
                <div>
                    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <img class="navbar-toggler border-0  dropdown-toggle" data-bs-toggle="dropdown"
                         aria-expanded="false" src="{{ asset('media/Search.png') }}" alt="">
                    <div class="dropdown-menu p-0">
                        <form class="d-flex mt-3 dropdown-menu" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <h1><img src="{{ asset('media/LOGO DRINK ME 1.png') }}" alt="Drinkme"></h1>
                <a href=""></a>
                <img class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                     data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation"
                     src="{{ asset('media/Shopping cart.png') }}" alt="">

                <div class="offcanvas offcanvas-end p-0 navbar-toggler border-0" tabindex="-1" id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <div class="collapse navbar-collapse pb-3" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_main') }}">Accueil</a>
                        </li>
                        {% if app.user %}
                            {% if is_granted('ROLE_EMPLOYEE') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_user_params') }}">Services</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_CUSTUMER') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_adress_index') }}">Mes adresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Commandes</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_user') }}">Pramétres du compte</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
                            </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_register',{'role':'customer'}) }}">S'inscrire</a>
                                </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        <!-- <img src="media/Menu.png" alt="">
            <img src="media/Search.png" alt="">
        </div>
        <h1><img src="media/LOGO DRINK ME 1.png" alt="Drinkme"></h1>
        <img src="media/Shopping cart.png" alt=""> -->
    </header>
        {% block body %}{% endblock %}
    <footer>
        <img src="media/LOGO DRINK ME 1.png" alt="">
        <article>
            <h2>SERVICE</h2>
            <a href="{{ path('app_main_faq') }}">FAQ</a>
            <p>CONTACT</p>
        </article>
        <article>
            <h2>A PROPOS</h2>
            <a href="{{ path('app_main') }}#apropos">À propos de nous</a>
            <a href="{{ path('app_main_ingredient') }}">Ingrédients</a>
        </article>
        <article>
            <h2>SHOP</h2>
            <p>Tous nos produits</p>
            <p>Drink Me Energy®</p>
            <p>Drink Me Hydration®</p>
            <p>Shakers & Merch</p>
        </article>
        <article>
            <h2>LEGAL</h2>
            <a href="{{ path('app_main_mentions') }}">Mentions légal</a>
            <a href="{{ path('app_main_cgv') }}">CGV</a>
            <a href="{{ path('app_main_politique') }}">Politique de confidentialité</a>
        </article>
        <div>
            <h2>FOLLOW US</h2>
            <div>
                <img src="media/Icon.png" alt="">
                <img src="media/Icon (1).png" alt="">
                <img src="media/Icon (2).png" alt="">
            </div>
        </div>
    </footer>
    </body>
</html>
